<div class="container">
	<div class="post-comments">
		<div class="row ">
			<% if @comments.empty? %>
				<h3>No comments Exists</h3>
			<% else @comments %>
				<%= render partial: "comments/comment", collection: @comments%>
			<% end %>
		</div>
	</div>
</div>
