<% if @posts.present? %>
  <%= render partial: "posts/post", collection:  @posts%>
<% else %>
  <p>No POsts found</p>
<% end %>
<p>---------USER-------------</p>
<p>-------------------------------</p>

<p>-------------------------------</p>
user_profile_home_path(
<p>-------------------------------</p>
<% @user_result.each do |u| %>
  <h6><%= link_to u.name, user_profile_home_path(u.id), { method: :get} %></h6>
<p>-------------------------------</p>
<% end %>

