<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>id</th>
  </tr>

  <tr>
    <td><%= friend_request_recieved.user.name%></td>
    <td><%= friend_request_recieved.user.email%></td>
    <td><%= friend_request_recieved.user.id%></td>
    </tr>
</table>
<hr/>
