<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card background friends">
      <div class="card-header">
				<% if @friends.empty? %>
          <h3>No Friends Exists</h3>
        <% else @friends %>
          <h3>My Friends</h3>
          <%= paginate @friends %>
          <div class="row">
            <div class=" col-md-9">
              <div class="row">
                <div class=" col-sm-3 "> Name</div>
                <div class=" col-sm-6 "> Email</div>
                <div class=" col-sm-2 margin"> id</div>
              </div>
            </div>
          </div>
      </div>
      <div class="card-body">
          <%= render partial: "friend", collection: @friends, locals: { is_friend: true }%>
        <%end%>
			</div>
      <div class="card-footer">
        <%= paginate @friends %>
      </div>
    </div>
  </div>
</div>
