<% if @friends_request_sent.empty? %>
  <h2>No Pending Friends</h2>
<% else @friends_request_sent %>
  <h1> Pending Friends </h1>
  <%= render partial: "friend", collection: @friends_request_sent, :locals => {:greeting => '2'}%>
<% end %>
