<% if @friends_req_pending.empty?%>
  <h2>No Pending Requests</h2>
<% else @friends_req_pending %>
  <h1> Pending Requests </h1>
  <%= render partial: "friend", collection: @friends_req_pending, :locals => {:greeting => '1'}%>
<%end%>
