<% if @friends_req.empty?%>
  <h2>No Friend Requests</h2>
<% else @friends_req %>
  <h1> Friend Requests </h1>
  <%= render partial: "friend_request_recieved", collection: @friends_req%>
<%end%>
