<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card background friends">
      <div class="card-header">
				<% unless @friendships_requests_sent.present? %>
          <h3>No Request Sent</h3>
        <% else @friendships_requests_sent %>
          <h3>Friend Request Sent</h3>
          <%= will_paginate @friendships_requests_sent %>
          <div class="row">
            <div class=" col-md-9">
              <div class="row">
                <div class=" col-sm-3 "> Name</div>
                <div class=" col-sm-6 "> Email</div>
                <div class=" col-sm-2 margin"> id</div>
              </div>
            </div>
          </div>
      </div>
      <div class="card-body">
          <%= render partial: "friend", collection: @friendships_requests_sent, locals: { is_friend: false }%>
        <%end%>
      </div>
      <div class="card-footer">
        <%= will_paginate @friendships_requests_sent %>
      </div>
    </div>
  </div>
</div>
