<div class="container">
	<div class="row">
		<% if @comments.present? %>
			<%= render partial: "comments/comment", collection: @comments%>
		<% else %>
			<h6 id= "comments-text<%=@post.id%>"> No comments Exists </h6>
		<% end %>
	</div>
</div>
